#menu{
  top: 0;
  height: 60px;
  width: 100%;
  color: black;
  font-size: 40px;
  /*font-family: Algerian, serif;*/
  border-bottom: solid blue 10px;
  background-color: lightgrey;
  position: sticky;
  padding-bottom: 12px;
  /*Bahnschrift, Times, "Bodoni MT", "Felix Titling"*/
  .logo{
    float: left;
    font-size: 50px;
    font-weight: 600;
    padding-left: 10px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Bahnschrift, serif;
  }
  #menu-na-pasku{
    list-style-type: none;
    /*font-family: Felix Titling, serif;*/
    font-weight: 600;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    .nawigacja, span, select{
      float: right;
      font-size: 35px;
      display: block;
      color: black;
      text-align: center;
      padding: 10px 10px 20px;
      text-decoration: none;
      border-left: solid 2px blue;
    }
    a:hover {
      background-color: lightblue;
      color: darkblue;
      padding: 10px 10px 10px;
      
    }
    a.active {
      color: blue;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      overflow: hidden;
    }
    button{
      font-size: 20px;
      color: white;
      background-color: darkred;
      padding: 5px;
      margin: 5px 10px 5px 10px;
      border-radius: 10px;
    }
  }

}



#glowna{
  min-height: 600px;
  font:  18px/1.5 Bahnschrift, serif;
  padding: 30px;
  /*"Cooper Black", */
  h1, h2{
    font: 60px/1.5 Georgia, serif;
    
    text-align: center;
  }

  button{
    font-size: 20px;
    color: white;
    background-color: darkred;
    padding: 5px;
    margin: 5px 0 5px 10px;
    border-radius: 10px;

  }
  /* tak sobie nadpisujemy dla danej klasy*/
  button.przycisk-nawigacji{
    background: darkblue;
    /* jak najeżdżamy myszką, zmienia kolor*/
    &:hover{
      background: blue;
    }
  }

  button:disabled{
    font-size: 20px;
    color: black;
    background-color: lightgray;
    padding: 5px;
    margin: 5px 0 5px 10px;
    border-radius: 10px;
  }

  table{
    border: ridge 8px black;
    border-collapse: collapse;
    text-align: center;
    margin: 40px auto;
    th{
      border: solid 5px black;
      color: darkred;
      padding: 10px;
    }
    td{
      border: solid 2px black;
      padding: 5px;
    }
    /* to jeszcze pozostałość z psiotelu, może się przyda*/
    .tabela-oferta{
      border-right: solid 5px black;
      font-weight: bold;
    }
    .tabela-srodek{
      border-right: solid 4px black;
    }
  }


  form{
    vertical-align: center;
    width: fit-content;
    font-size: 20px;
    padding: 10px 30px;
    align-self: center;
    horiz-align: center;
    /*border: outset 20px #eadaa0;*/
    text-align: center;
    align-content: center;
    /*margin-top: 20px;*/
    margin: 40px auto;
    input{
      font-size: 20px;
    }
    label{
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  .dane-profilu{
    vertical-align: center;
    width: fit-content;
    font-size: 20px;
    padding: 10px 30px;
    align-self: center;
    horiz-align: center;
    /*border: outset 20px #eadaa0;*/
    text-align: center;
    align-content: center;
    /*margin-top: 20px;*/
    margin: 40px auto;
    input{
      font-size: 20px;
    }
    label{
      font-size: 20px;
      font-weight: bold;
    }
    .lista-jezykow-dane-profilu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: groove 2px black;
      border-radius: 10px;
      background-color: #f1f1f1;
    }
    
    .pole-w-danych-profilu{
      margin: 10px 0;
      padding: 10px;
      border: solid 2px black;
      border-radius: 10px;
      background-color: #f1f1f1;
    }
  }

  .lista-jezykow{
    li{
      text-align: left;
      .jezyk-na-liscie{
        .nazwa-jezyka{
          font-weight: bold;
        }
        list-style-type: none;
        margin: 0;
        border: solid 2px black;
        border-radius: 10px;
        background-color: #f1f1f1;
        padding: 10px;
      }
      padding: 7px;
      &:last-child{
        border-right: none;
      }
      a{
        display: block;
      }
    }
  }

  .error-wiadomosc{
    color: red;
    font-weight: bold;
  }
  .error-pole{
    border-color: red;
    border-style: solid;
  }
}