@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Regular.ttf');
}
@font-face {
  font-family: 'Epilogue-SemiBold';
  src: url('./assets/fonts/Epilogue-SemiBold.ttf');
}
@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-Regular.ttf');
}
@font-face {
  font-family: 'Orbitron-Bold';
  src: url('./assets/fonts/Orbitron-Bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
